html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url('https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/background.jpg');
  background-position: center top;
  background-size: cover;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

.page-title {
  text-align: center;
  font-weight: 300;
  font-size: 48px;
}

.page-description {
  border: 1px solid #000;
  margin: 2px;
  text-align: center;
  padding: 30px;
  font-weight: 300;
  font-size: 36px;
}

.gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon{
  position: relative;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 40px;
}

.icon-text {
  font-family: 'Lato', sans-serif;
  text-align: center;
}


/* FOOTER NAVIGATION */

nav {
  background-color: #FFF;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 10px;
}

nav ul {
  display: inline;
}

.contact-btn {
 float: right;
}

.contact-btn a {
  cursor: pointer;
  padding: 8px 18px;
  border: 1px solid #204156;
  position: relative;
}

.contact-btn a:active {
  top: 2px;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}

