html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url("https://i.imgur.com/FdYMi9J.jpg");
  background-position: center top;
  background-size: cover;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

.page-title {
  text-align: center;
  font-weight: 300;
  font-size: 40px;
}

.page-description {
  border: 1px solid #000;
  margin: 2px;
  text-align: center;
  padding: 30px;
  font-weight: 300;
  font-size: 28px;
}

.gallery {
  margin-top: 20px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category{
  text-align: center;
  display:inline;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 20px;
  margin: 30px;
  padding: 16px;
  border-color: rgb(140, 140, 230)
  border-width: 3px;
  border-style: solid;
}

.category-title{
  font-size: 24px;
}

.category-image{
  text-align: center;
}

.category-description{
  font-size: 18px;
}

.space-1{
  margin-top: 35px;
  margin-bottom: 35px;
}

.watercolor-1{
  background-image: url('https://previews.123rf.com/images/margosoleil/margosoleil1611/margosoleil161100034/67164864-watercolor-texture-transparent-light-blue-watercolor-abstract-background-spot-blur-fill.jpg');
}

.watercolor-2{
  background-image: url('https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/1657736/910/607/m1/fpnw/wm0/a-11-.png?1473885956&s=8748e3e712c8461bf3cd92fe42483bf3');
}

.watercolor-3{
  background-image: url('https://i.pinimg.com/originals/12/ae/e3/12aee3942ed92126dcec138a65e86564.jpg');
}