html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
  color: white;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url('https://i.pinimg.com/originals/f4/bc/91/f4bc914e8b87ef88d49d895c9aadd5a8.jpg');
  background-position: center top;
  background-size: cover;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

.page-title {
  text-align: center;
  font-weight: 150;
  font-size: large;
}

.page-description {
  border: 1px solid #000;
  margin: 2px;
  text-align: center;
  padding: 30px;
}

.description{
  text-align: center;
  font-weight: 300;
  margin: 10px 50px;
  font-size: medium;
}

.images{
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}