html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
  color: white;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url('https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/3927151/910/569/m2/fpnw/wm1/bdhnoees2n5vye8ibggpzcv0ekyylyleczi9jyyuqzqftkcf8lxxfs4vg6wikbwl-.jpg?1517324506&s=a4fb14a043e823cce7b4cec0c8fbb52d');
  background-position: center top;
  background-size: cover;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

.page-title {
  text-align: center;
  font-weight: 150;
}

.page-description {
  border: 1px solid #000;
  margin: 2px;
  text-align: center;
  padding: 30px;
}

.description{
  font-weight: 300;
  margin: 10px 50px;
}

.images{
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}