html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2012/09/30/17485/b21255ebd4cf764269b8778a316c190a.jpg');
  background-position: center top;
  background-size: cover;
  margin: 0;
}

a {
  color: #204156;
  text-decoration: none;
}

.page-title {
  text-align: center;
  font-weight: 300;
}

.page-description {
  border: 1px solid #000;
  margin: 2px;
  text-align: center;
  padding: 30px;
}

.description{
  font-weight: 300;
  margin: 50px;
}

.images{
  align-items: center;
  margin: 40px;
}