.image{
    width: 200px;
    height: 200px;
}

.icon{
    position: relative;
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 30px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 20px;
}